# Never change wbadm's crontab with `crontab -e`. Instead, edit
# /org/wanna-build/etc/cron/crontab, and run `make` in that directory (or
# install that file by hand). Also, please `git commit` any
# non-temporary changes you make.

#
# Stats update.
#
MAILTO=cron-errors@buildd.debian.org
43 * * * *       /org/buildd.debian.org/bin/wb-export

3  0 * * *       make -sC /org/wanna-build/etc/cron check

4  0 * * *       /org/buildd.debian.org/mbox/fix-up-permissions

*/15 * * * *   TZ=UTC /org/buildd.debian.org/web/status/mkstats.aba

